version: '3.7'

services:
  {{.ContainerName}}:
    image: {{.ImageName}}:{{.ImageTag}}
    container_name: {{.ContainerName}}
    restart: always
    deploy:
      resources:
        limits:
          cpus: "{{.CpuLimit}}"
          memory: "{{.MemoryLimit}}"
    healthcheck:
      test: ["CMD", "curl", "-f", "{{.HealthCheckUrl}}"]
      interval: {{.HealthCheckInterval}}
      timeout: {{.HealthCheckTimeout}}
      retries: {{.HealthCheckRetries}}
      start_period: {{.HealthCheckStartPeriod}}
    ports:{{range $index, $val := .BindContainerPort}}
      - "{{.}}"{{end}}
    volumes:{{range $index, $val := .BindVolumes}}
      - "{{.}}"{{end}}
    {{if .Environment}}environment: {{range $key, $val := .Environment}}
        {{$key}}: "{{$val}}"{{end}}{{end}}
{{if .Volumes}}volumes:{{range $index, $val := .Volumes}}
  {{.}}{{end}}
{{end}}
